@page "/"
@page "/products"

@inject ISearchProductUseCase searchProduct

<h3 class="">Search Products</h3>
<br />

<SearchBarComponent OnSearch="HandleSearch"></SearchBarComponent>

<br />

@if (products != null && products.Count() > 0)
{
    <div class="row">
        @foreach (var product in products)
        {
            <ProductCardComponent Product="product"></ProductCardComponent>
        }
    </div>
}
else
{
    <div class="text-danger"> No products Found.</div>
}


@code {


    private IEnumerable<Product> products;
    protected override void OnInitialized()
    {

        base.OnInitialized();

        products = searchProduct.Execute();
    }

    public void HandleSearch(string filter)
    {
        products = searchProduct.Execute(filter);
    }
}

